# MacOS
.DS_Store

# Jupyter Lab
.ipynb_checkpoints
.virtual_documents/

# DeepCAD repository in main directory
/DeepCAD/

# PointNet repository in main directory
pointnet.pytorch/
Pointnet_Pointnet2_pytorch/

# pycache files
__pycache__/
*.pyc

