# MacOS
.DS_Store

# Jupyter Lab
.ipynb_checkpoints
.virtual_documents/

# data repository
/data

# DeepCAD repository in main directory
/DeepCAD/

# PointNet repository in main directory
pointnet.pytorch/
/Pointnet_Pointnet2_pytorch/

# pycache files
__pycache__/
*.pyc

# Models
**/*.pth

# Log files
**/*.log

# WandB
wandb/

# CSV-files
**/*.csv

# Virtual environments
pointnet_venv/
src/
